@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {scroll-behavior: smooth;
}


body {
    /*change the background color to match the parallax image*/
    background: #1a1d26;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    /* Change the color fo*/
    color: #00bf94;
    pointer-events: none;
    margin-right: 577px;
}


.navigation a{
    text-decoration: none;
    color: #00bf94;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover,
.navigation a.active{
    background: #00bf94;
    color: #f9f9f9;
}


.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


#text {
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,.2);
}


.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}


.aboutsec {
    display: flex;
    position: relative;
    background: #293b45;
    padding: 100px;
    
}
#andrew{
    flex: 0 0 auto;
    margin-right: 20px;
    width: 20%;
    

}

.textcontainer{
    flex: 1;
}
.textcontainer h2{
    font-size: 45px;
    color:#00bf94;
}
.textcontainer p {
    color: #fff;

}



#portfolio {
    padding: 50px 0;

}
/* PORTFOLIO PART*/

.portfolio {
    background-color: #293b45;
    z-index: 1000;

}

.portfolio h1{
    font-size: 2em;
    /* Change the color fo*/
    color: #00bf94;
    pointer-events: none;
}
.worklist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#00bf94);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

}

.layer h3{
    font-weight: 500;
    margin-bottom: px;

}

.layer a{
    margin-top: 20px;
    color: #16425b;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);

}

.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #00bf94;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #d9dcd6;
    transition: background 0.5s;

}
.btn:hover{
    background: #00bf94;
}



/*



.aboutsec h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
    
}

.aboutsec img {
    width: 20%;
}
*/
.row{
    display: flex;

}

.contact_left{
    flex-basis: 35%;
    padding: 0 60px;
}
.contact_right{
    flex-basis: 60%;
}

.contact_left p{
    flex-basis: 35px;
}

.contact_left p i{
    color: #00bf94;
    margin-right: 15px;
    font-size: 25px;
}

.social_icons{
    margin-top: 30px;
    
}

.social_icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #16425b;
    display: inline-block;
    transition: transform 0.5s;
}

.social_icons a:hover{
    color: #00bf94;
    transform: translateY(-5px);

}

.btn.btn2{
    display: inline-block;
    background-color: #00bf94;
}

.contact_right form{
    width: 100%;

}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;


}